In [1]:
import numpy as np
import pandas as pd

In [5]:
labor_market_statistics = pd.read_csv('Datasets/labor_market_statistics.csv')
labor_market_statistics_legend = pd.read_csv('Datasets/Code Legends/labor_market_stats_legend.csv')

In [3]:
labor_market_statistics.head()

,Year,Month,YBZY,YBZR,YBZQ,YBZT,YBZS,YBZV,YBZU,YBZW,...,LF3M,AIYW,LF3T,LF45,YCGN,AIYX,DZ36,LF3S,LF44,YCGM
0,1992,YEAR,38376.0,88044.0,24636.0,37656.0,50388.0,64752.0,118176.0,53424.0,...,71.5,6.0,67.7,60.8,6072.0,6.6,NaN,71.3,57.9,9264.0
1,1993,YEAR,38184.0,89076.0,23628.0,38556.0,50520.0,64968.0,119064.0,54096.0,...,70.8,5.2,67.5,60.8,6132.0,6.2,NaN,71.3,58.4,9360.0
2,1994,YEAR,38400.0,89784.0,22248.0,39024.0,50772.0,65016.0,119376.0,54360.0,...,71.5,5.2,69.3,61.2,5568.0,6.1,NaN,70.5,57.0,8592.0
3,1995,YEAR,38436.0,90072.0,21516.0,39492.0,50568.0,65604.0,120468.0,54864.0,...,71.4,5.2,69.8,60.3,5016.0,6.1,NaN,72.2,58.4,7908.0
4,1996,YEAR,39192.0,89976.0,20952.0,39780.0,50184.0,65772.0,121524.0,55752.0,...,72.1,5.7,70.0,61.6,4656.0,6.8,NaN,72.9,58.5,7392.0