In [1]:
import numpy as np
import pandas as pd

In [13]:
lse_historical_data = pd.read_csv('Datasets/lse_historical_data.csv')

/Users/kamilestankeviciute/anaconda3/envs/tensorflow/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
lse_historical_data

,year,month,ticker,list_date,company_name,icb_industry,icb_supersector,country_of_incorporation,market_cap,eps,p/e,p/s
0,2017,11,OPM,2006-08-02,1PM PLC,Financial Services,Financials,United Kingdom,40.036935,NaN,NaN,NaN
1,2017,11,SPA,2009-02-02,1SPATIAL PLC,Industrial Goods & Services,Industrials,United Kingdom,29.467662,NaN,NaN,NaN
2,2017,11,C21,2005-04-15,21ST CENTURY TECHNOLOGY PLC,Industrial Goods & Services,Industrials,United Kingdom,2.564093,NaN,NaN,NaN
3,2017,11,III,1994-07-18,3I GROUP PLC,Financial Services,Financials,United Kingdom,8765.510388,NaN,NaN,NaN
4,2017,11,3IN,2007-03-13,3I INFRASTRUCTURE PLC,Financial Services,Financials,Jersey,2025.382649,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
159395,2013,6,ZOX,2001-12-10,ZINCOX RESOURCES PLC,Mining,General Mining,United Kingdom,19.141342,NaN,NaN,NaN
159396,2013,6,ZOL,2004-05-18,ZOLTAV RESOURCES INC,General Financial,Specialty Finance,Cayman Islands,28.190878,NaN,NaN,NaN
159397,2013,6,ZOO,2001-05-14,ZOO DIGITAL GROUP PLC,Software & Computer Services,Software,United Kingdom,2.250767,NaN,NaN,NaN
159398,2013,6,ZTF,1995-02-28,ZOTEFOAMS,Chemicals,Specialty Chemicals,United Kingdom,81.457315,NaN,NaN,NaN
159399,2013,6,ZYT,2000-07-06,ZYTRONIC,Electronic & Electrical Equipment,Electronic Equipment,United Kingdom,22.067038,NaN,NaN,NaN

In [4]:
lse_historical_data['icb_industry'].value_counts()

Equity Investment Instruments             18455
Financial Services                        16038
Industrial Goods & Services                7733
Mining                                     7515
Support Services                           7510
                                          ...
Debentures & Loans                           49
Food; Beverage and Tobacco                   49
Construction and Materials                   43
Personal Care; Drug and Grocery Stores       21
Automobiles and Parts                         9
Name: icb_industry, Length: 68, dtype: int64

In [5]:
lse_historical_data['icb_supersector'].value_counts()

Financials                       20936
Equity Investment Instruments    18455
Industrials                       9166
Consumer Services                 6563
Basic Materials                   5553
                                 ...
Railroads                           49
Forestry                            47
Brewers                             45
Mortgage Finance                    25
Real Estate Investment Trusts       19
Name: icb_supersector, Length: 127, dtype: int64

In [17]:
finance_sector = lse_historical_data['icb_industry'].str.lower().str.contains('financ')
finance_sector

0          True
1         False
2         False
3          True
4          True
          ...
159395    False
159396     True
159397    False
159398    False
159399    False
Name: icb_industry, Length: 159400, dtype: object

In [58]:
finance_sector_df = lse_historical_data[finance_sector == True]
finance_sector_df = finance_sector_df[finance_sector_df['country_of_incorporation'] == 'United Kingdom']
finance_sector_df['eps'].fillna(finance_sector_df['eps'].median(), inplace=True)
finance_sector_df['p/e'].fillna(finance_sector_df['p/e'].median(), inplace=True)
finance_sector_df['p/s'].fillna(finance_sector_df['p/s'].median(), inplace=True)
finance_sector_df

,year,month,ticker,list_date,company_name,icb_industry,icb_supersector,country_of_incorporation,market_cap,eps,p/e,p/s
0,2017,11,OPM,2006-08-02,1PM PLC,Financial Services,Financials,United Kingdom,40.036935,0.1,8.582823,0.257812
3,2017,11,III,1994-07-18,3I GROUP PLC,Financial Services,Financials,United Kingdom,8765.510388,0.1,8.582823,0.257812
16,2017,11,AAS,1995-10-19,ABERDEEN ASIAN SMALLER COMPANIES INVESTMENT TR...,Financial Services,Financials,United Kingdom,354.465275,0.1,8.582823,0.257812
17,2017,11,ADIG,1952-03-24,ABERDEEN DIVERSIFIED INCOME AND GROWTH TRUST PLC,Financial Services,Financials,United Kingdom,387.691012,0.1,8.582823,0.257812
20,2017,11,AJIT,1998-10-01,ABERDEEN JAPAN INVESTMENT TRUST PLC,Financial Services,Financials,United Kingdom,93.528324,0.1,8.582823,0.257812
...,...,...,...,...,...,...,...,...,...,...,...,...
159321,2013,6,VLE,2002-12-24,VOLVERE,General Financial,Specialty Finance,United Kingdom,13.851792,0.1,8.582823,0.257812
159325,2013,6,WHI,2000-07-27,W.H.IRELAND GROUP,General Financial,Investment Services,United Kingdom,12.682072,0.1,8.582823,0.257812
159327,2013,6,WCW,1996-08-22,WALKER CRIPS GROUP PLC,General Financial,Investment Services,United Kingdom,11.495156,0.1,8.582823,0.257812
159348,2013,6,WST,1999-12-08,WESTSIDE INVESTMENTS PLC,General Financial,Specialty Finance,United Kingdom,2.500850,0.1,8.582823,0.257812
159377,2013,6,HUME,2010-09-17,XCAP SECURITIES PLC,General Financial,Investment Services,United Kingdom,4.330342,0.1,8.582823,0.257812

In [59]:
finance_sector_df_by_year = finance_sector_df.groupby('year').sum()
finance_sector_df_by_year

        market_cap     eps           p/e          p/s
year
2013  6.330405e+05  130.60  11209.167432   336.703125
2014  7.485027e+05  127.02  10561.892903   441.800626
2015  9.007274e+05  116.38  10120.954145   337.939930
2016  8.680164e+05  123.66  10572.870208   379.298887
2017  1.999370e+06  757.88  36621.828736  1489.358579
2018  2.297962e+06  658.06  35126.270603  1490.108375
2019  1.377860e+06  490.03  22991.580027   956.099441

In [61]:
finance_sector_condensed = finance_sector_df[['year', 'month', 'icb_industry', 'market_cap', 'eps', 'p/e', 'p/s']]
finance_sector_2016_2018 = finance_sector_condensed[(finance_sector_df['year'] >= 2016) & (finance_sector_df['year'] <= 2018)]
finance_sector_2016_2018

        year month        icb_industry   market_cap   eps       p/e       p/s
0       2017    11  Financial Services    40.036935  0.10  8.582823  0.257812
3       2017    11  Financial Services  8765.510388  0.10  8.582823  0.257812
16      2017    11  Financial Services   354.465275  0.10  8.582823  0.257812
17      2017    11  Financial Services   387.691012  0.10  8.582823  0.257812
20      2017    11  Financial Services    93.528324  0.10  8.582823  0.257812
...      ...   ...                 ...          ...   ...       ...       ...
153194  2018     9  Financial Services   197.640000  0.10  8.582823  0.257812
153198  2018     9  Financial Services   708.740000  0.10  8.582823  0.257812
153201  2018     9  Financial Services  1467.130000  0.10  8.582823  0.257812
153214  2018     9  Financial Services   341.470000  0.10  8.582823  0.257812
153218  2018     9  Financial Services     2.430000 -0.03 -1.840909  0.000000

[10125 rows x 7 columns]

In [62]:
finance_sector_2016_2018_by_month = finance_sector_2016_2018.groupby(['year', 'month']).sum().reset_index()
# finance_sector_2016_2018_by_month = finance_sector_2016_2018_by_month.sort_values(['year', 'month'])
finance_sector_2016_2018_by_month

    year month     market_cap     eps          p/e         p/s
0   2016     1   69058.864418   11.54   878.925732   29.721713
1   2016     4   72319.786213    9.97   879.643786   26.259458
2   2016     5   73676.181750    9.61   906.902703   30.478442
3   2016     6   67823.391762   11.40   926.187042   34.409323
4   2016     7   73163.086741   11.61   912.478377   26.719926
5   2016     8   75744.083136   10.40   892.613639   26.812500
6   2016    11   71836.854463    9.90   849.699522   25.523438
7   2016    10   72699.280980    9.74   851.147548   26.325129
8   2016    12   72804.712146    9.09   843.038569   61.115401
9   2016     2   69910.427381   10.30   884.030816   26.554688
10  2016     3   73199.132892    9.77   856.015559   36.671907
11  2016     9   75780.637184   10.33   892.186914   28.706963
12  2017     1   75816.764420   11.84   868.227910   30.831717
13  2017     4   34883.696486    5.98   497.867433   15.491840
14  2017     6  168575.183316   52.33  3273.640777  118.618193
15  2017     7  173625.065806   45.83  3226.264063  102.701225
16  2017     9  179173.564836   56.98  3365.977392  118.028764
17  2017    10  186154.944004   43.44  3259.619143  102.764545
18  2017    11  185334.457615   42.39  3210.033716  101.033936
19  2017    12  190142.200000   76.11  3301.154603  162.612845
20  2017     2  161093.971573   37.40  3209.975972   96.421875
21  2017     3  160906.956355  216.92  3300.934643  302.314292
22  2017     4  130237.311246   78.27  2663.744251  128.071458
23  2017     5  170357.206097   46.09  3231.347463  107.647783
24  2017     8  183068.904267   44.30  3213.041369  102.820107
25  2018     2  186919.979649   37.60  3227.141619   96.937500
26  2018     3  184071.593643  220.65  3210.979106  306.291619
27  2018     5  195903.530000   42.97  3371.657470  108.670938
28  2018     9  201893.520000   38.32  3274.653023   99.600618
29  2018    10  185218.180000   38.15  3868.763885   99.778862
30  2018    12  174521.720000   29.69  2814.718333  148.445134
31  2018     1  192288.431538   49.53  3275.832829  113.307141
32  2018    11  180488.500000   37.82  2334.400738   98.858780
33  2018     4  192522.904725   35.40  -670.593123   99.147427
34  2018     6  198750.380000   45.09  3568.634635  114.087012
35  2018     7  202375.320000   42.03  3439.283103  103.333034
36  2018     8  203008.080000   40.81  3410.798984  101.650310

,year,month,ticker,list_date,company_name,icb_industry,icb_supersector,country_of_incorporation,market_cap,eps,p/e,p/s
0,2017,11,OPM,2006-08-02,1PM PLC,Financial Services,Financials,United Kingdom,40.036935,0.10,8.582823,0.257812
3,2017,11,III,1994-07-18,3I GROUP PLC,Financial Services,Financials,United Kingdom,8765.510388,0.10,8.582823,0.257812
16,2017,11,AAS,1995-10-19,ABERDEEN ASIAN SMALLER COMPANIES INVESTMENT TR...,Financial Services,Financials,United Kingdom,354.465275,0.10,8.582823,0.257812
17,2017,11,ADIG,1952-03-24,ABERDEEN DIVERSIFIED INCOME AND GROWTH TRUST PLC,Financial Services,Financials,United Kingdom,387.691012,0.10,8.582823,0.257812
20,2017,11,AJIT,1998-10-01,ABERDEEN JAPAN INVESTMENT TRUST PLC,Financial Services,Financials,United Kingdom,93.528324,0.10,8.582823,0.257812
...,...,...,...,...,...,...,...,...,...,...,...,...
153194,2018,9,WPC,1952-02-11,WITAN PACIFIC INVESTMENT TRUST PLC,Financial Services,Financials,United Kingdom,197.640000,0.10,8.582823,0.257812
153198,2018,9,WPCT,2015-04-21,WOODFORD PATIENT CAPITAL TRUST PLC,Financial Services,Financials,United Kingdom,708.740000,0.10,8.582823,0.257812
153201,2018,9,WWH,1995-04-28,WORLDWIDE HEALTHCARE TRUST PLC,Financial Services,Financials,United Kingdom,1467.130000,0.10,8.582823,0.257812
153214,2018,9,XPS,2017-02-16,XPS PENSIONS GROUP PLC,Financial Services,Financials,United Kingdom,341.470000,0.10,8.582823,0.257812
153218,2018,9,YOLO,2003-04-02,YOLO LEISURE AND TECHNOLOGY PLC,Financial Services,Financials,United Kingdom,2.430000,-0.03,-1.840909,0.000000