In [55]:
import pandas as pd
import numpy as np
from datetime import datetime
import matplotlib.pyplot as plt

In [4]:
# dataset 1 is job listings

In [43]:
job_listings = pd.read_csv('Datasets/job_listings.csv', dtype={"title":str, "company_name":str, "city":str, "region":str, "zip":str, "created":str, "last_checked":str, "last_updated":str, "delete_date":str, "onet_occupation_code":str, "SOC_occupation_code":str, "url":str, "stock_exchange_country":str, "stock_exchange_name":str, "stock_ticker":str, "ticker_end_date":str, "ticker_start_date":str})

In [6]:
# not using this
onet_code_legend = pd.read_csv('Datasets/Code Legends/onet_code_legend.csv')

In [7]:
soc_code_legend = pd.read_csv('Datasets/Code Legends/soc_code_legend.csv')

In [78]:
job_listings["created"] = job_listings["created"].apply(lambda x:datetime.fromisoformat(x))
job_listings["delete_date"] = job_listings["delete_date"].apply(lambda x:datetime.fromisoformat(x))

TypeError: fromisoformat: argument must be str

In [84]:
jobcounts = []
dates = []

for year in range (2010, 2011, 1):
    for month in range(1,3,1):
        this = job_listings[job_listings.created.apply(lambda x:  x.year <= year and  x.month <= month) & job_listings.delete_date.apply(lambda x:  x.year >= year and  x.month >= month)]
        jobcounts.append(this["title"].count())
        dates.append(datetime(year=year, month=month, day=1))

In [0]:
jobcounts

In [0]:
# plot this month

plt.bar(dates, jobcounts)
plt.show()

In [49]:
job_listings = job_listings.dropna(subset=["created","delete_date"])

In [11]:
soc_code_legend.describe()

       Major Group  Sub-Major Group  Minor Group  Unit   Group
count   493.000000       484.000000   475.000000    369.000000
mean      4.436105        46.456612   466.090526   4687.406504
std       2.521951        24.896310   248.569592   2479.557057
min       1.000000        11.000000   111.000000   1115.000000
25%       2.000000        24.000000   243.000000   2434.000000
50%       4.000000        41.000000   413.000000   4135.000000
75%       6.000000        62.000000   622.000000   6222.000000
max       9.000000        92.000000   927.000000   9279.000000